[name]
    name = Ryan
    email = ryan@andthensome.nl

[core]
    editor = vim
	excludesfile = ~/.gitignore_global

[push]
    default = matching
[user]
	email = ryan@andthensome.nl
	name = Ryan
	signingkey = alrayyes@gmail.com
