[name]
    name = Ryan
    email = ryan@andthensome.nl

[core]
    editor = nvim
	excludesfile = /home/alrayyes/.gitignore_global

[push]
    default = matching
[user]
	email = ryan@ryankes.eu
	name = Ryan Kes
	signingkey = ryan@ryankes.eu
[sendemail]
    confirm = auto

[sendemail]
    smtpEncryption = tls
    smtpServer = /usr/bin/msmtp
    confirm = auto
    chainreplyto = false
