[core]
	editor = emacs
	excludesfile = /home/alrayyes/.gitignore_global
[user]
	email = ryan@ryankes.eu
	name = Ryan Kes
	signingkey = ryan@ryankes.eu
	useconfigonly = true
[push]
	default = matching
