/weechat/.weechat/irc.conf
/weechat/.weechat/logs
/weechat/.weechat/urls.log
/weechat/.weechat/weechat.log
/weechat/.weechat/weechat_crash_*.log

mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql

vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo

dunst/.config/dunst/dunstrc

newsboat/.newsboat/cache.db
newsboat/.newsboat/cache.db.lock
newsboat/.newsboat/history.cmdline
newsboat/.newsboat/history.search

mutt/.config/mutt/.mailsynclastrun

gtk/.config/gtk-3.0/bookmarks

mpd/.config/mpd/pid
/emacs/.config/doom/configuration.el
