!-------------------------------------------------------------------------------
! Rofi settings
!-------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:EE000000, argb:EE000000, argb:EE000000
rofi.color-normal: #111, #819396, #222, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661

rofi.show-icons: true
rofi.fake-transparency: true
rofi.lines: 3
rofi.bw: 0
rofi.hide-scrollbar: true
rofi.width: 30
rofi.element-hight: 2
rofi.padding: 500

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              false
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight
